<div>
    <!-- <div class="col-md-7 text-center my-main" style="height:100vh"></div> -->
    <div class="col-md-7 text-center my-main no-padding no-margin">
        <div class="col-md-12" style="margin-top:30px">
            <img style="width: 250px; max-height:250px" src="https://i.pinimg.com/736x/2f/60/d7/2f60d72ba26359996531d2ef08eed200--charlie-puth-eyebrow-rd-birthday.jpg">
        </div>
        <div class="col-sm-12 col-md-12" style="text-align:center">
            <h3><b>We dont talk any more</b></h3>
            <!-- <div style="position:absolute; bottom: 0px; width:100%; padding-bottom:10px; max-height:15%; z-index:1000; background-color:white"> -->
            <div style="font-size: large">
                <span class="label label-info">
                    Charlie Puth ft Selena Gomez
                </span>&#160;&#160;&#160;
                <span class="label label-success">
                    2007
                </span>&#160;&#160;&#160;
                <span class="label label-warning">
                    I dont give a fuck
                </span>&#160;&#160;&#160;
                <span class="label label-danger">
                    Pop/RnB
                </span>&#160;&#160;&#160;
                <span class="label label-primary">
                    Sad
                </span>
            </div>
        </div>
        <div class="my-player">
            <!-- <div style="position:absolute; bottom: 0px; width:100%; padding-bottom:10px; max-height:15%; z-index:1000; background-color:white"> -->
            <music-player #musicPlayer></music-player>
        </div>
    </div>
    <div class="col-md-5">
        <h3 class="lead">Recommendation</h3>
        <!-- <div class="my-rec" style="max-height:85%; overflow-y:auto; margin-bottom:50px">             -->
        <div class="my-rec">
            <table class="table table-hover my-table">
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>
                        <div>
                            <h4>
                                <b>We dont talk any more</b>
                            </h4>
                            <h5>Charlie Puth ft Selena Gomez</h5>
                        </div>
                    </td>
                    <td>3:42</td>
                </tr>
            </table>
        </div>
    </div>
</div>