input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
  padding-left: 23px;
  height: 18px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
  background-position: 0 -18px;
}

label.css-label {
  background-image: url('assets/img/image/check-box.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.padding-left {
  padding-top: 2px;
  padding-left: 0px;
}

.transparent-banner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  /*background-color: whitesmoke;*/
  opacity: .5;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.login-box-body-s {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 24px;
  border-top: 0;
  color: #666;
}

.login-logos {
  font-size: 45px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.background {
  background: url('http://tomorrowcorporation.com/blog/wp-content/themes/tcTheme2/images/hrm/screenshots/hrm_01.png') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.li-hover :hover {
  background-color: #3c8dbc;
  color: white;
}

.li-hover {
  border: 1px solid #d2d6de;
  border-radius: 0;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*jj*/

.beauty {
  position: relative;
  display: block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  /*letter-spacing: 2px;*/
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  /*text-transform: uppercase;*/
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.svg {
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.svg:before {
  position: absolute;
  content: "";
  /*background: url('assets/img/logo/brand.pn') no-repeat center center;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.svg:after {
  content: "";
  position: absolute;
  background: #3C8DBC;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.svg:hover {
  color: white;
  border: 0px #3C8DBC solid;
}

.svg:hover:before {
  opacity: .8;
}

.svg:hover:after {
  top: 0;
}

@media (max-width: 767px) {
  .box-login {
    height: 50px
  }
}
