table {
    font-size: 14px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.table>tbody>tr>td.user-avatar-container {
    padding: 2px;
}

.table .action-column .btn {
    padding: 0 7px;
}

a {
    cursor: hand;
}

.skin-black-light .wrapper {
    background-color: #ecf0f5;
}

.modal-lg-100 {
    width: 94%
}

.contextmenu {
    visibility: hidden;
    background: whitesmoke;
    border: 1px solid #f9c922;
    z-index: 10;
    position: relative;
    width: 194px;
}

.contextmenu :hover {
    background: #f9c922;
    border: 1px solid #f9c922;
    color: #fff;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.cursor {
    cursor: pointer
}

.margin-btn {
    margin: 2px
}

.background-loading {
    background-image: url('../img/gif/marker.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

p {
    line-height: 1.33em;
    color: #7E7E7E;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

#demo-content {
    padding-top: 100px;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    position: fixed;
    z-index: 2000;
    right: 0%;
    top: 50px;
    font-size: 17px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.show {
    visibility: visible;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.dropdown-menu li a .fa {
    width: 20px;
}

.scroll {
    max-height: 660px;
    overflow-y: auto;
}

.skin-black-light .main-header .navbar .nav li a:hover {
    color: #fff;
    background-color: #72afd2;
}

.skin-black-light .main-header .navbar .nav li a:focus {
    color: #fff;
    background-color: #72afd2;
}

.skin-black-light .main-header .navbar .nav li a {
    color: #3c8dbc;
    background-color: #fff;
}

@media (max-width: 767px) {
    .skin-black-light .main-header>.logo:hover {
        background-color: #fff;
    }
}

.button-nofy {
    background-color: #3498db;
    min-width: 42px;
    min-height: 84px;
    margin-left: -125px;
    text-align: center;
    position: fixed;
    z-index: 1;
    right: 0%;
    top: 100px;
    font-size: 17px;
    padding: 27px 10px 0px 15px;
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 50px 0px 0px 50px;
}

.button-nofy .label {
    position: absolute;
    top: 21px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.button-nofy-open {
    margin-right: 230px;
}

.input-group-btn:last-child>.btn {
    z-index: 0;
}

.input-group .form-control {
    z-index: 0;
}

.padding-left-right-7px {
    padding: 3px;
}

@media (max-width: 767px) {
    .skin-black-light .main-header>.logo {
        background-color: #fff;
        color: #222;
        width: 100%;
    }
}

#menu-header {
    margin-left: 25%;
}

@media (max-width: 767px) {
    #menu-header {
        margin-left: 0%;
    }
}

#navbar-collapse {
    width: 85%;
}

@media (max-width: 768px) {
    #navbar-collapse {
        width: 100%;
    }
}

#navbar-custom-menu-header {
    width: 15%;
    float: right;
}

@media (max-width: 768px) {
    #navbar-custom-menu-header {
        width: 80%;
        float: right;
    }
}

#item-menu {
    width: 100%;
}

#item-menu-header {
    width: 33.33%;
    text-align: center;
}

@media (max-width: 768px) {
    #item-menu-header {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .skin-black-light .main-header>.navbar .navbar-nav>li>a {
        border-right: none;
    }
}

#body-wrapper {
    padding-top: 50px;
}

@media (max-width: 768px) {
    #body-wrapper {
        padding-top: 100px;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    height: 70%;
    /*max-height: 225px;*/
    margin: auto;
}


/* For google searchbox api */

.pac-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 60%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

.pac-container {
    z-index: 10000 !important;
}


/* For google searchbox api */

.overlay {
    margin-top: 54px;
}

.primary-gradient-label {
    background: -moz-linear-gradient(left, #367fa9, #3c8dbc);
    background: -webkit-linear-gradient(left, #367fa9, #3c8dbc);
    font-weight: bold;
    color: white;
    padding: 2px 20px;
}

.form-control-read-only {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: large;
    border-radius: 4px;
    border: none;
    text-align: center;
}

.blue-background {
    background-color: #367fa9;
    color: white;
    font-weight: 700;
}

.fixed-map {
    position: fixed;
    left: 46.25%;
    right: 0;
    bottom: 0;
}

.warning-gradient-label {
    background: -moz-linear-gradient(left, #f9c922, white);
    background: -webkit-linear-gradient(left, #f9c922, white);
    font-weight: bold;
    color: white;
    padding: 2px 20px;
}

.main-header .sidebar-toggle:before {
    content: none
}

.no-margin {
    margin: 0 !important
}

.skin-black-light .main-header>.logo {
    border-right: none
}

.sidebar-toggle {
    font-size: xx-large
}

.bg-white {
    background-color: white
}

.logo-mini {
    font-size: xx-large !important
}

.logo-lg {
    font-size: xx-large
}