<div class="wrapper" style="background-color:white !important">
    <header header-layout class="main-header"></header>
    <aside #menu (logout)="onLogout($event)" sidebar-layout class="main-sidebar" style="background-color:white; border-right:1px ridge;"></aside>
    <div class="content-wrapper bg-white" style="max-height:100vh; border-left:none; overflow:hidden">
        <!-- <router-outlet #outletContainer></router-outlet> -->
        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
    </div>
    <!-- <div id="playerContainer" style="position:absolute; bottom: 0px; width:100%; padding-bottom:10px; max-height:15%; z-index:1000; background-color:white"> -->
    <!-- <div id="playerContainer">
        <music-player #musicPlayer></music-player>
    </div> -->
    <!-- <footer footer-layout class="main-footer"></footer> -->
</div>