<div class="col-md-12" style="margin:0">
    <div class="row" style="padding-top:10px; padding-bottom:10px; font-size:large; padding-left:25%;">
        <!-- <div class="col-md-12" style="zoom:100%">
            <form id="searchForm" (submit)="onSearchSubmit($event)" class="form-horizontal" role="form">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" placeholder="How do you feel" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <div class="form-group">
                                        <label for="filter">Mood</label>
                                        <select name="mood" [(ngModel)]="searchMood" class="form-control">
                                            <option value="all" selected>All</option>
                                            <option value="happy">Happy</option>
                                            <option value="relaxed">Relaxed</option>
                                            <option value="sad">Sad</option>                                                    
                                            <option value="angry">Angry</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Contains the words</label>
                                        <input class="form-control" name="word" [(ngModel)]="searchWord" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Artist</label>
                                        <input class="form-control" name="artist" [(ngModel)]="searchArtist" type="text" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" form="searchForm" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
        <!-- <div class="col-md-12">
            <div class="col-md-10">
                <div class="col-md-4">
                    <select id="emojiSelect" class="js-example-basic-multiple js-states form-control" style="width:100%">
                      </select>
                </div>
                <div class="col-md-4">
                    <select id="emojiArtist" class="js-example-basic-multiple js-states form-control" style="width:100%">                   
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="emojiGenre" class="js-example-basic-multiple js-states form-control" style="width:100%">                   
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-block bg-maroon" style="font-size:large">Find a playlist</button>
            </div>
        </div> -->
        <!-- <div class="col-md-10 col-md-offset-1" style="display:flex">
            <select id="emojiSelect" class="js-example-basic-multiple js-states form-control" style="width:25%">
            </select>
            <select id="fastSearch" class="js-example-basic-multiple js-states form-control" style="width:65%">                   
            </select>
            <button class="btn bg-maroon" style="border-radius:5px">Find a playlist</button>
        </div> -->
        <!-- <div class="col-md-3">
            <button type="button" class="btn margin bg-primary"><i class="em em-smiley"></i>&#160;&#160;Happy</button>
            <button type="button" class="btn margin bg-primary"><i class="em em-relaxed"></i>&#160;&#160;Releaxed</button>
            <button type="button" class="btn btn-flat margin bg-primary"><i class="em em-disappointed"></i>&#160;&#160;Sad</button>
            <button type="button" class="btn btn-flat margin bg-primary"><i class="em em-angry"></i>&#160;&#160;Angry</button>
        </div> -->
        <!-- <div class="col-md-6 col-md-offset-2" style="display:flex">
            <select id="smartSearch" class="js-example-basic-multiple js-states form-control" style="width:80%">
                </select>
            <button class="btn bg-primary" style="border-radius:0" (click)="onSearchSubmit($event)" style="color:white"><i class="fa fa-search"></i></button>
        </div> -->
        <form>
            <span id="1" class="button cursor bt-select" (click)="selectMood(1)"><i class="em em-smiley"></i>&#160;&#160;Happy</span>
            <span id="2" class="button cursor bt-select" (click)="selectMood(2)"><i class="em em-relaxed"></i>&#160;&#160;Releaxed</span>
            <span id="3" class="button cursor bt-select" (click)="selectMood(3)"><i class="em em-disappointed"></i>&#160;&#160;Sad</span>
            <span id="4" class="button cursor bt-select" (click)="selectMood(4)"><i class="em em-angry"></i>&#160;&#160;Angry</span>
            <input type="text" id="searchKey" class="textbox" placeholder="Search">
            <span type="submit" value="Search" class="button cursor" (click)="onSearchSubmit($event)"><i class="fa fa-search"></i></span>
        </form>
    </div>
    <!-- <div style="max-height:80vh; overflow-y:auto; margin-top:5px; padding-bottom:50px"> -->
    <div style="max-height:90vh; overflow-y:auto; margin-top:5px; padding-bottom:10px">
        <div class="search" style="display:none">
            <h2>{{searchStatus}}
                <!-- <i class="fa fa-times pull-right" (click)="hideSearchResult()"></i> -->
            </h2>
            <div class="result-zone">
                <div class="search-result">
                    <div *ngFor="let song of searchResult; let i=index" style="padding:5px">
                        <div class="card">
                            <img [src]="getSongArt(song)" (click)="onPlay(3,i)" class="img-height" alt="Cover" style="width:100%">
                            <div class="container" (click)="onPlay(3,i)">
                                <a [id]="'search'+i" class="truncate cursor" (click)="onPlay(3,i)"><b>{{song.name}}</b></a>
                                <div class="tooltip_templates" style="display:none;">
                                    <div [id]="'searchShow'+i">
                                        {{song.name}}
                                    </div>
                                </div>
                                <p>{{song.artist}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Trending Now</h2>
        <div class="hot-trend">
            <div *ngFor="let song of hotTrend; let i=index" style="padding:5px">
                <div class="card">
                    <img [src]="getSongArt(song)" (click)="onPlay(1,i)" class="img-height" alt="Cover" style="width:100%">
                    <div class="container" (click)="onPlay(1,i)">
                        <a [id]="'hot'+i" class="truncate cursor" (click)="onPlay(1,i)"><b>{{song.name}}</b></a>
                        <div class="tooltip_templates" style="display:none;">
                            <div [id]="'hotShow'+i">
                                {{song.name}}
                            </div>
                        </div>
                        <p>{{song.artist}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h2>Maybe You Like</h2>
        <div class="you-like">
            <div *ngFor="let song of youLike; let i=index" style="padding:5px">
                <div class="card">
                    <img [src]="getSongArt(song)" (click)="onPlay(0,i)" class="img-height" alt="Cover" style="width:100%">
                    <div class="container" (click)="onPlay(0,i)">
                        <a [id]="'like'+i" class="truncate cursor" (click)="onPlay(0,i)"><b>{{song.name}}</b></a>
                        <div class="tooltip_templates" style="display:none;">
                            <div [id]="'likeShow'+i">
                                {{song.name}}
                            </div>
                        </div>
                        <p>{{song.artist}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h2>Recently Listen</h2>
        <div class="recent">
            <div *ngFor="let song of recently; let i=index" style="padding:5px">
                <div class="card">
                    <img [src]="getSongArt(song)" (click)="onPlay(2,i)" class="img-height" alt="Cover" style="width:100%">
                    <div class="container" (click)="onPlay(2,i)">
                        <a [id]="'recent'+i" class="truncate cursor" (click)="onPlay(2,i)"><b>{{song.name}}</b></a>
                        <div class="tooltip_templates" style="display:none;">
                            <div [id]="'recentShow'+i">
                                {{song.name}}
                            </div>
                        </div>
                        <p>{{song.artist}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="appState.currentSong && appState.currentSong.isPlaying" id="float-button" class="cursor" (click)="toListenPgae()" (mouseenter)="showPlayingNow()" (mouseleave)="hidePlayingNow()" style="position:fixed; bottom:15px; left:25px; z-index:10000">    
    <div id="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>    
</div>
<div id="showingNow" class="popup-playing">
    <marquee *ngIf="showNow && appState.currentSong" behavior="slide" direction="left" scrolldelay="1" style="min-width:230px">
        <b>Now Playing</b>        
        <br><small>{{appState.currentSong.name}} - {{appState.currentSong.artist}}</small>
    </marquee>
    <marquee *ngIf="!showNow && getNextSong()" behavior="slide" direction="left" scrolldelay="1" style="min-width:230px">
        <b>Next song</b>
        <br><small>{{getNextSong().name}} - {{getNextSong().artist}}</small>
    </marquee>
</div> -->