<div class="container">
    <div class="row" style="margin-top:15px">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for playlist" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="filter">Filter by</label>
                                        <select class="form-control">
                                                    <option value="0" selected>All Snippets</option>
                                                    <option value="1">Featured</option>
                                                    <option value="2">Most popular</option>
                                                    <option value="3">Top rated</option>
                                                    <option value="4">Most commented</option>
                                                </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Author</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Contains the words</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="">
        <div class="col-md-4 watch-card no-padding">
            <div class="artist-collage col-md-12">                
                <div class="col-md-6"><img src="http://i.ytimg.com/i/MXDyVR2tclKWhbqNforSyA/mq1.jpg" alt="artist-image" width="150" height="150"></div>
                <div class="col-md-6 collage-rhs">
                    <div class="col-md-12"><img src="http://i.ytimg.com/vi/8gyLR4NfMiI/mqdefault.jpg" alt="artist-image" width="150" height="84"></div>
                    <div class="col-md-12"><img src="http://i.ytimg.com/vi/zKCrSN9oXgQ/mqdefault.jpg" alt="artist-image" width="150" height="84"></div>
                </div>
            </div>
            <div class="listing-tab col-md-12" style="border:1px ridge">                
                <div class="artist-title col-md-12">
                    <button class="btn btn-lg btn-info pull-right"><i class="fa fa-play"></i></button>
                    <a href="">Chris Brown</a><br/>
                    <span>Music</span>
                </div>                
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="track">
                        <ul>
                            <li><a href="#">Loyal</a> <span>4:31</span></li>
                            <li><a href="#">Ayo</a> <span>6:01</span></li>
                            <li><a href="#">Look at Me Now</a> <span>4:09</span></li>
                            <li><a href="#">Liquor</a> <span>3:51</span></li>
                            <li><a href="#">Love More</a> <span>4:15</span></li>
                            <li><a href="#">Bitches N Marijuana</a> <span>4:17</span></li>
                            <li><a href="#">View all</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>       
    </div> -->
    <div id="ca-container" class="ca-container" style="display:none">
        <div class="ca-wrapper">
            <div class="ca-item ca-item-1">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Stop factory farming</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>The greatness of a nation and its moral progress can be judged by the way in which its animals are treated.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <!-- <div class="col-md-4 watch-card no-padding"> -->
                        <div class="artist-collage col-md-12">
                            <div class="col-md-6"><img src="http://i.ytimg.com/i/MXDyVR2tclKWhbqNforSyA/mq1.jpg" alt="artist-image" width="150" height="150"></div>
                            <div class="col-md-6 collage-rhs">
                                <div class="col-md-12"><img src="http://i.ytimg.com/vi/8gyLR4NfMiI/mqdefault.jpg" alt="artist-image" width="150" height="84"></div>
                                <div class="col-md-12"><img src="http://i.ytimg.com/vi/zKCrSN9oXgQ/mqdefault.jpg" alt="artist-image" width="150" height="84"></div>
                            </div>
                        </div>
                        <div class="listing-tab col-md-12" style="border:1px ridge">
                            <div class="artist-title col-md-12">
                                <button class="btn btn-lg btn-info pull-right"><i class="fa fa-play"></i></button>
                                <a href="">Chris Brown</a><br/>
                                <span>Music</span>
                            </div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="track">
                                    <ul>
                                        <li><a href="#">Loyal</a> <span>4:31</span></li>
                                        <li><a href="#">Ayo</a> <span>6:01</span></li>
                                        <li><a href="#">Look at Me Now</a> <span>4:09</span></li>
                                        <li><a href="#">Liquor</a> <span>3:51</span></li>
                                        <li><a href="#">Love More</a> <span>4:15</span></li>
                                        <li><a href="#">Bitches N Marijuana</a> <span>4:17</span></li>
                                        <li><a href="#">View all</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-2">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Respect Life &amp; Rights</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>I hold that the more helpless a creature, the more entitled it is to protection by man from the cruelty of man.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Would you eat your dog?</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-3">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Become 100% meat-free</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>I feel that spiritual progress does demand at some stage that we should cease to kill our fellow creatures for the satisfaction of our bodily wants.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>You can change the world</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-4">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Make a difference</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>A man is but the product of his thoughts what he thinks, he becomes.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Think globally, act locally</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-5">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Say no to killing</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>A weak man is just by accident. A strong but non-violent man is unjust by accident.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Animals have rights, too!</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-6">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Don't believe the lies</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>An error does not become truth by reason of multiplied propagation, nor does truth become error because nobody sees it.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>How essential is meat?</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-7">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>Save the planet</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>A small body of determined spirits fired by an unquenchable faith in their mission can alter the course of history.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Collateral damage?</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ca-item ca-item-8">
                <div class="ca-item-main">
                    <div class="ca-icon"></div>
                    <h3>It's time to move on</h3>
                    <h4>
                        <span class="ca-quote">&ldquo;</span>
                        <span>A nation's culture resides in the hearts and in the soul of its people.</span>
                    </h4>
                    <a href="#" class="ca-more">more...</a>
                </div>
                <div class="ca-content-wrapper">
                    <div class="ca-content">
                        <h6>Let's finally become humans</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was
                                a greater artist than now.</p>
                            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                                among the tall grass by the trickling stream;</p>
                            <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                        </div>
                        <ul>
                            <li><a href="#">Read more</a></li>
                            <li><a href="#">Share this</a></li>
                            <li><a href="#">Become a member</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>