#DIV_1 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: 65.5556px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    width: 1347.78px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 673.889px 32.7778px;
    transform-origin: 673.889px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_1*/

#DIV_2 {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(138, 138, 138);
    height: 65.5556px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    top: 0px;
    width: 1035px;
    z-index: 20;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 517.5px 32.7778px;
    transform-origin: 517.5px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    margin: 0px 156.389px;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(138, 138, 138);
    content: '"' '"';
    display: table;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    column-rule-color: rgb(138, 138, 138);
    caret-color: rgb(138, 138, 138);
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(138, 138, 138);
    content: '"' '"';
    display: table;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    column-rule-color: rgb(138, 138, 138);
    caret-color: rgb(138, 138, 138);
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_2:before*/

#DIV_3 {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(138, 138, 138);
    display: table;
    height: 65.5556px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    top: 0px;
    width: 1034.44px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 517.222px 32.7778px;
    transform-origin: 517.222px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_3*/

#DIV_4 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    display: table-cell;
    height: 65.5556px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 238.889px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 119.444px 32.7778px;
    transform-origin: 119.444px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_4*/

#DIV_5 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    display: none;
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_5*/

#IMG_6 {
    color: rgb(138, 138, 138);
    max-width: 67px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 150px;
    column-rule-color: rgb(138, 138, 138);
    caret-color: rgb(138, 138, 138);
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#IMG_6*/

#DIV_7 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    display: table-cell;
    height: 39.4444px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 107.014px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 70px 19.7222px;
    transform-origin: 70px 19.7222px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
    padding: 0px 0px 0px 33px;
}


/*#DIV_7*/

#SPAN_8 {
    background-position: 0px 0px;
    display: block;
    height: 20px;
    text-align: left;
    width: 107.778px;
    perspective-origin: 53.8889px 10px;
    transform-origin: 53.8889px 10px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal 600 normal 21px / 21px Poppins, sans-serif;
}


/*#SPAN_8*/

#SPAN_9 {
    background-position: 0px 0px;
    color: rgb(172, 172, 172);
    display: block;
    height: 14.4444px;
    text-align: left;
    text-decoration: none solid rgb(172, 172, 172);
    width: 107.778px;
    column-rule-color: rgb(172, 172, 172);
    perspective-origin: 53.8889px 7.22222px;
    transform-origin: 53.8889px 7.22222px;
    caret-color: rgb(172, 172, 172);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(172, 172, 172);
    font: normal normal normal normal 15px / 15px Poppins, sans-serif;
    margin: 5px 0px 0px;
    outline: rgb(172, 172, 172) none 0px;
}


/*#SPAN_9*/

#DIV_10 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    display: table-cell;
    height: 65.5556px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 227.778px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 113.889px 32.7778px;
    transform-origin: 113.889px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_10*/

#DIV_11,
#DIV_12 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: 65.5556px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: 227.778px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 113.889px 32.7778px;
    transform-origin: 113.889px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_11, #DIV_12*/

#UL_13 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: 65.5556px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: 227.778px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 113.889px 32.7778px;
    transform-origin: 113.889px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    margin: 0px;
    outline: rgb(138, 138, 138) none 0px;
    padding: 0px;
}


/*#UL_13*/

#LI_14,
#LI_17,
#LI_21 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    display: inline-block;
    height: 65.5556px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: 75.9028px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 37.9514px 32.7778px;
    transform-origin: 37.9514px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(138, 138, 138) none 0px;
}


/*#LI_14, #LI_17, #LI_21*/

#A_15,
#A_18,
#A_22 {
    background-position: 0px 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    height: 65.5556px;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    width: 75.9028px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 37.9514px 32.7778px;
    transform-origin: 37.9514px 32.7778px;
    caret-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(0, 0, 0) none 0px;
    transition: opacity 0.25s ease 0s;
}


/*#A_15, #A_18, #A_22*/

#I_16 {
    background-position: 0px 0px;
    cursor: pointer;
    display: inline-block;
    height: 14.4444px;
    text-align: center;
    width: 15.5556px;
    perspective-origin: 7.77778px 7.22222px;
    transform-origin: 7.77778px 7.22222px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_16*/

#I_16:before {
    content: '""';
    cursor: pointer;
    text-align: center;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_16:before*/

#I_19 {
    background-position: 0px 0px;
    cursor: pointer;
    display: inline-block;
    height: 14.4444px;
    text-align: center;
    width: 12.2222px;
    perspective-origin: 6.11111px 7.22222px;
    transform-origin: 6.11111px 7.22222px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_19*/

#I_19:before {
    content: '""';
    cursor: pointer;
    text-align: center;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_19:before*/

#I_20 {
    background-position: 0px 0px;
    cursor: pointer;
    display: none;
    text-align: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_20*/

#I_20:before {
    content: '""';
    cursor: pointer;
    text-align: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_20:before*/

#I_23 {
    background-position: 0px 0px;
    cursor: pointer;
    display: inline-block;
    height: 14.4444px;
    text-align: center;
    width: 15.5556px;
    perspective-origin: 7.77778px 7.22222px;
    transform-origin: 7.77778px 7.22222px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_23*/

#I_23:before {
    content: '""';
    cursor: pointer;
    text-align: center;
    font: normal normal normal normal 15px / 15px FontAwesome;
    list-style: disc inside none;
}


/*#I_23:before*/

#DIV_24 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    display: none;
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: auto;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_24*/

#DIV_25 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: auto;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_25*/

#UL_26 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: auto;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    margin: 0px;
    outline: rgb(138, 138, 138) none 0px;
    padding: 0px;
}


/*#UL_26*/

#LI_27,
#LI_31,
#LI_35,
#LI_39,
#LI_43,
#LI_47,
#LI_51,
#LI_55,
#LI_59 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    display: inline-block;
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: 33.33%;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(138, 138, 138) none 0px;
}


/*#LI_27, #LI_31, #LI_35, #LI_39, #LI_43, #LI_47, #LI_51, #LI_55, #LI_59*/

#DIV_28,
#DIV_32,
#DIV_36,
#DIV_40,
#DIV_44,
#DIV_48,
#DIV_52,
#DIV_56,
#DIV_60 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: auto;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_28, #DIV_32, #DIV_36, #DIV_40, #DIV_44, #DIV_48, #DIV_52, #DIV_56, #DIV_60*/

#A_29,
#A_33,
#A_37,
#A_41,
#A_45,
#A_49,
#A_53,
#A_57,
#A_61 {
    background-position: 0px 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(0, 0, 0) none 0px;
    transition: opacity 0.25s ease 0s;
}


/*#A_29, #A_33, #A_37, #A_41, #A_45, #A_49, #A_53, #A_57, #A_61*/

#A_30,
#A_34,
#A_42,
#A_50,
#A_58 {
    background-position: 0px 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(0, 0, 0) none 0px;
    transition: opacity 0.25s ease 0s;
}


/*#A_30, #A_34, #A_42, #A_50, #A_58*/

#A_38,
#A_46,
#A_62 {
    background-position: 0px 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(0, 0, 0) none 0px;
    transition: opacity 0.25s ease 0s;
}


/*#A_38, #A_46, #A_62*/

#A_54 {
    background-position: 0px 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    list-style: disc inside none;
    outline: rgb(0, 0, 0) none 0px;
    transition: opacity 0.25s ease 0s;
}


/*#A_54*/

#DIV_63 {
    background-position: 0px 0px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    display: table-cell;
    height: 65.5556px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    top: 0px;
    vertical-align: middle;
    width: 413.333px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 206.667px 32.7778px;
    transform-origin: 206.667px 32.7778px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
    padding: 0px 0px 0px 50px;
}


/*#DIV_63*/

#DIV_64 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    display: inline-block;
    height: 2.98611px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 230.712px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 115.347px 1.49306px;
    transform-origin: 115.347px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_64*/

#DIV_65,
#DIV_66 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: 2.98611px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    width: 230.712px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 115.347px 1.49306px;
    transform-origin: 115.347px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_65, #DIV_66*/

#DIV_67 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: 2.98611px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    width: 230.712px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 115.347px 1.49306px;
    transform-origin: 115.347px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
    overflow: hidden;
}


/*#DIV_67*/

#DIV_68 {
    color: rgb(138, 138, 138);
    cursor: pointer;
    height: 2.98611px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    width: 230.712px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 115.347px 1.49306px;
    transform-origin: 115.347px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgb(191, 190, 190) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_68*/

#DIV_69 {
    color: rgb(138, 138, 138);
    cursor: pointer;
    height: 2.98611px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 0px 1.49306px;
    transform-origin: 0px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_69*/

#DIV_70 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    display: inline-block;
    height: 26.6667px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 82.6042px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 41.3021px 13.3333px;
    transform-origin: 41.3021px 13.3333px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_70*/

#DIV_71,
#DIV_72 {
    background-position: 0px 0px;
    color: rgb(138, 138, 138);
    height: 26.6667px;
    text-align: center;
    text-decoration: none solid rgb(138, 138, 138);
    width: 82.6042px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 41.3021px 13.3333px;
    transform-origin: 41.3021px 13.3333px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_71, #DIV_72*/

#DIV_73 {
    background-position: 0px 0px;
    color: rgb(172, 172, 172);
    height: 26.6667px;
    text-align: center;
    text-decoration: none solid rgb(172, 172, 172);
    width: 82.6042px;
    column-rule-color: rgb(172, 172, 172);
    perspective-origin: 41.3021px 13.3333px;
    transform-origin: 41.3021px 13.3333px;
    caret-color: rgb(172, 172, 172);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(172, 172, 172);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(172, 172, 172) none 0px;
}


/*#DIV_73*/

#SPAN_74,
#SPAN_75 {
    background-position: 0px 0px;
    color: rgb(172, 172, 172);
    text-align: center;
    text-decoration: none solid rgb(172, 172, 172);
    column-rule-color: rgb(172, 172, 172);
    caret-color: rgb(172, 172, 172);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(172, 172, 172);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(172, 172, 172) none 0px;
}


/*#SPAN_74, #SPAN_75*/

#DIV_76 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    display: table-cell;
    height: 65.9896px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    vertical-align: middle;
    width: 154.444px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 77.2222px 32.9861px;
    transform-origin: 77.2222px 32.9861px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 27px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_76*/

#DIV_77 {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(138, 138, 138);
    height: 65.9896px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    top: 0px;
    width: 154.444px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 77.2222px 32.9861px;
    transform-origin: 77.2222px 32.9861px;
    caret-color: rgb(138, 138, 138);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#DIV_77*/

#A_78 {
    background-position: 0px 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 65.5556px;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
    vertical-align: middle;
    width: 14.4444px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 7.22222px 32.7778px;
    transform-origin: 7.22222px 32.7778px;
    caret-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    margin: 0px 18px 0px 30px;
    outline: rgb(0, 0, 0) none 0px;
    transition: color 0.15s ease-out 0s;
}


/*#A_78*/

#I_79 {
    background-position: 0px 0px;
    cursor: pointer;
    display: inline-block;
    height: 14.4444px;
    text-align: left;
    width: 14.4444px;
    perspective-origin: 7.22222px 7.22222px;
    transform-origin: 7.22222px 7.22222px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 15px / 15px FontAwesome;
}


/*#I_79*/

#I_79:before {
    content: '""';
    cursor: pointer;
    text-align: left;
    font: normal normal normal normal 15px / 15px FontAwesome;
}


/*#I_79:before*/

#I_80 {
    background-position: 0px 0px;
    cursor: pointer;
    display: none;
    text-align: left;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    font: normal normal normal normal 15px / 15px FontAwesome;
}


/*#I_80*/

#I_80:before {
    content: '""';
    cursor: pointer;
    text-align: left;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 15px / 15px FontAwesome;
}


/*#I_80:before*/

#SPAN_81 {
    bottom: 0px;
    color: rgb(138, 138, 138);
    cursor: pointer;
    display: inline-block;
    height: 2.98611px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    top: 0px;
    vertical-align: middle;
    width: 81.8403px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 40.9201px 1.49306px;
    transform-origin: 40.9201px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgb(191, 190, 190) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
    overflow: hidden;
}


/*#SPAN_81*/

#SPAN_82 {
    bottom: 0px;
    color: rgb(138, 138, 138);
    cursor: pointer;
    display: block;
    height: 2.98611px;
    left: 0px;
    position: absolute;
    right: 16.3715px;
    text-align: left;
    text-decoration: none solid rgb(138, 138, 138);
    top: 0px;
    width: 65.4688px;
    column-rule-color: rgb(138, 138, 138);
    perspective-origin: 32.7257px 1.49306px;
    transform-origin: 32.7257px 1.49306px;
    caret-color: rgb(138, 138, 138);
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(138, 138, 138);
    font: normal normal normal normal 15px / 66px Poppins, sans-serif;
    outline: rgb(138, 138, 138) none 0px;
}


/*#SPAN_82*/